html
	head
		title Blog editor
		<!-- Se usan dos puntos al principio por el uso de basename en el router de react-->
		script(src="../scripts/editapp.js" defer="defer")
	body
		h1 Welcome to blog edition
		#editApp
