html
	head
		title Blog editor
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		link(type="text/css" rel="stylesheet" href="../styles/style.css")
		<!-- Se usan dos puntos al principio por el uso de basename en el router de react-->
		script(src="../scripts/editapp.js" defer="defer")
	body
		h1 Welcome to blog edition
		#editApp
