html
	head
		title Blog editor
		meta(name="viewport",content="width=device-width, inital-scale=1.0")
		link(type="text/css",href="../styles/style.css",rel="stylesheet")
		script(src="../scripts/visitorapp.js",defer)
	body
		#visitorApp